[package]
name = "client"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1.48.0", features = ["net", "rt-multi-thread", "macros", "time", "bytes", "fs", "sync", "io-std", "io-util", "signal", "process"] }
